html{
  font-size: 18px;
  background-image: url("../images/mr-robot-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 15%;
  margin: 0 auto;
  color: #c95a5a;
}

body{
  width:960px;
  margin: 0 auto;
}

header{
  margin: 0 auto;
  width: 100%;
}

h1{
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

h2{
  font-size: 2.5rem;
  margin-top: 1rem;
  text-align: center;
}

#questionContainer{
  /*margin-top: 35rem; */
}

h3{
  font-size: 2rem;
  text-align: center;  
}

fieldset{
  font-size: 1.5rem;
  width: 100%;
   
  margin: 1rem 0 1rem 0;
}

#answerLegend{
  margin-bottom: .5rem;
  width: 100%;
  font-size: 1.25rem;
  text-align: left;
}

#answerContainer{
  margin-bottom: 0;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  border: 2px solid wheat;
}

label{
  margin: 0 .25rem 0 .25rem;
}

#questionResult{
 color:white;
}

#gameResult{
 color:white;
 margin-top: 10rem
}